<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sinyu.Energy.portal.mapper.DepartmentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.sinyu.Energy.portal.model.Department">
        <id column="bm_code" property="bmCode" />
        <result column="ID" property="id" />
        <result column="bm_name" property="bmName" />
    </resultMap>

</mapper>
